[Unit]
Description=Start tmux session at login
After=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -Ad -s main
ExecStop=/usr/bin/tmux kill-session -t main

[Install]
WantedBy=default.target
