*.LinkFileList
*.dat
*.dep
*.hmap
*.mode1
*.mode1v3
*.mode2v3
*.moved-aside/
*.o
*.orig
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*.xcworkspace
*build/
*xcuserdata/
*~
*~.nib/
.*.sw?
.DS_Store
.authinfo
.config/ranger
.emacs.d/.smex-items
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/places
.emacs.d/recentf
.emacs.d/savehist
.emacs.d/saveplace
.emacs.d/site-lisp
.emacs.d/swank
.emacs.d/tramp
.emacs.d/url
.githubconfig
.idea/
.idea/*
.oh-my-zsh/*
.rbenv-version
.ssh
.sw?
.vim/bundle/*
.vim/vim-pathogen
.vimperator/info/default
.zsh_history
DerivedData
build/
tags
xcuserdata
.vimrc
