[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:travisjeffery/awesome-wm.git
[submodule ".zsh/auto-fu.zsh"]
	path = .zsh/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule ".zsh/zaw"]
	path = .zsh/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule ".zsh/opp"]
	path = .zsh/opp
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "/Users/travis/.zsh/fizsh"]
	path = .zsh/fizsh
	url = https://github.com/zsh-users/fizsh.git
[submodule ".vim/bundle/neobundle"]
	path = .vim/bundle/neobundle
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".zsh/completions"]
	path = .zsh/completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".emacs.d/site-lisp/solarized"]
	path = .emacs.d/site-lisp/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/site-lisp/twittering-mode"]
	path = .emacs.d/site-lisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule ".emacs.d/site-lisp/git-emacs"]
	path = .emacs.d/site-lisp/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/site-lisp/jade-mode"]
	path = .emacs.d/site-lisp/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule ".emacs.d/site-lisp/key-chord"]
	path = .emacs.d/site-lisp/key-chord
	url = https://github.com/emacsmirror/key-chord.git
[submodule ".emacs.d/site-lisp/js3-mode"]
	path = .emacs.d/site-lisp/js3-mode
	url = https://github.com/thomblake/js3-mode.git
