.emacs.d/*~
.emacs.d/*.elc
.emacs.d/auto-save-list
.emacs.d/recentf
.emacs.d/savehist
.emacs.d/saveplace
.emacs.d/eshell
.emacs.d/elpa
.emacs.d/el-get
.emacs.d/semanticdb
.emacs.d/url
.emacs.d/ede-projects.el
.emacs.d/.DS_Store
.emacs.d/custom.el
.emacs.d/places
.emacs.d/.smex-items
.emacs.d/savefile/
.emacs.d//prelude-modules.el
.emacs.d/projectile-bookmarks.eld
.emacs.d/session*
.emacs.d/.cask
.emacs.d/tramp
.emacs.d//var/pcache
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/network-security.data
.emacs.d/.python-environments/
.emacs.d/magithub
.emacs.d/ac-comphist.dat
.emacs.d/.mc-lists.el
.emacs.d/prelude-cheatsheet.el
.emacs.d/prelude-cheatsheet.aux
.emacs.d/prelude-cheatsheet.log
.emacs.d/undohist
.emacs.d/emojis
.emacs.d/projectile.cache
.emacs.d/.lsp-session-v1
.emacs.d/bookmarks
.emacs.d/forge-database.sqlite
.emacs.d/smex-items
.emacs.d/transient/
.emacs.d/bm-repository
.emacs.d/request
.emacs.d/org-journal.cache
.emacs.d/undo-fu-session

.emacs.d/var
.emacs.d/history
.emacs.d/eln-cache
.emacs.d/elpaca
.emacs.d/.cache
.emacs.d/tutorial
.emacs.d/projects
