[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:travisjeffery/awesome-window-manager-config.git
[submodule ".emacs.d/vendor/nyan-mode"]
	path = .emacs.d/vendor/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule ".emacs.d/vendor/surround"]
	path = .emacs.d/vendor/surround
	url = https://github.com/timcharper/evil-surround.git
[submodule ".emacs.d/vendor/evil"]
	path = .emacs.d/vendor/evil
	url = git://gitorious.org/evil/evil.git
[submodule ".emacs.d/el-get/el-get"]
	path = .emacs.d/el-get/el-get
	url = https://github.com/dimitri/el-get.git
[submodule ".emacs.d/el-get/textmate"]
	path = .emacs.d/el-get/textmate
	url = https://github.com/defunkt/textmate.el.git
