[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:travisjeffery/awesome-window-manager-config.git
