[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-quickrun"]
	path = bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/cheat"]
	path = bundle/cheat
	url = https://github.com/vim-scripts/cheat.vim.git
;[submodule "bundle/csapprox"]
	;path = bundle/csapprox
	;url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/grep"]
	path = bundle/grep
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "bundle/IndexedSearch"]
	path = bundle/IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = https://github.com/tpope/vim-pastie.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:travisjeffery/taglist.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-racket"]
	path = bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-help"]
	path = bundle/vim-help
	url = https://github.com/travisjeffery/vim-help
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim/
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/netrw-vim"]
	path = bundle/netrw-vim
	url = https://github.com/vim-scripts/netrw.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-colors"]
	path = bundle/vim-colors
	url = git@github.com:travisjeffery/vim-colors.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/hammer"]
	path = bundle/hammer
	url = git://github.com/robgleeson/hammer.vim.git
[submodule "bundle/delimiteMate"]
	path = bundle/delimiteMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-tlib"]
	path = bundle/vim-tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "snippets"]
	path = snippets
	url = git://github.com/akitaonrails/snipmate-snippets.git
