* {
    font-family: Fira Code;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

#disk, #battery, #network, #pulseaudio, #clock {
    padding: 0 0;
}

