*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data
.python-environments/
magithub
ac-comphist.dat
.mc-lists.el
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
undohist
emojis
projectile.cache
.lsp-session-v1
bookmarks
forge-database.sqlite
smex-items
transient/
bm-repository
request
org-journal.cache
undo-fu-session
straight
.agent
tree-sitter
.agent-shell
